body {
    background-color: #00b3ff;
}
#image {

}
#play{
    margin: auto;
    text-align: center;


}
#word{
    margin: auto;
    text-align: center;
}
#endBox{
    margin: auto;
    font-size: 170%;
    text-align: center;
color: #0002f4;
}

#guessesLeft{
    margin: auto;
    text-align: center;
}







































































































































































































































































































































































































































































































































































































































































#imageDiv{
    margin:auto;
    text-align:center;
}
#difficulty{
    margin:auto;
    text-align:center;
}
#playButton{
    background-color: #f40005;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 10px;
    outline:none;
}

#guessBox{
    margin: auto;
    text-align: center;
}

#prevGuesses{
    margin: auto;
    text-align: center;
}

#guessArray{
    margin: auto;
    text-align: center;
}

.hideOnLoad {
    display: none;
}